<%- include('./layout/head.ejs',{Title:"Index"}) %>
    <div class="container">
        <div>
            <h1>index</h1>
        </div>
        
        <div>
            <a class="btn btn-primary" href="/adminClientes" role="button">administracion de Clientes</a>
            <a class="btn btn-primary" href="/adminMunicipios" role="button">administracion de Municipios</a>
            <a class="btn btn-primary" href="/adminDepartamentos" role="button">administracion de Departamentos</a>
        </div>
    </div>
    
<%- include('./layout/foot.ejs') %>